<html lang="en">
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<app-nav-menu></app-nav-menu>

<div >
  <form FormComponent="searchForm" style="display:flex;justify-content:start">
    <mat-form-field appearance="standard" class="search">
      <mat-label>Search</mat-label>
      <input type="text" matInput [matAutocomplete]="auto" placeholder="Search" [formControl]="myControl" />
      <mat-autocomplete autoActiveFirstOption  #auto="matAutocomplete">
        <mat-option *ngIf="loading" class="is-loading">
          <mat-spinner diameter="50"></mat-spinner>
        </mat-option>
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-flat-button>
      <span class="material-symbols-outlined">
        search
      </span>
    </button>
    </form>

</div>


<!-- Body -->

<div class="side-by-side-container container-lg">
  <div class="row d-flex justify-content-center align-items-center h-100">

    <div class="col-lg-6">
      <div class="card card-style">
        <div class="card-body">
          <h3 class="card-title">Form</h3>
          <div class="file-preview-window justify-content-center align-items-center">
            <!-- <div class="preview-style"><span *ngIf="!imagePreview">No File Choosen</span></div>--><!--<img class="preview-image" src={{imagePreview}}>-->
            <div style="position: relative;">
              <div *ngFor="let drawItem of drawItems; let i = index">
              </div>
              <canvas #layer1 id="layer1" style="position: absolute; left: 0; top: 0; z-index: 0; width:100%; height:auto;"></canvas>
              <div class="row">
              </div>
            </div>

          </div>

          <!-- File Requirement Text -->
          <p class="text-md-start text-wrap fst-italic fs-10 my-0">
            Maximum size allowed for the image is 4MB
          </p>
          <p class="text-md-start text-wrap fst-italic fs-10 my-0">
            Image must be in jpg, jpeg, png format
          </p>

          <div class="btn-toolbar mt-2 gap-2 d-md-flex">
            <button mat-raised-button class="btn btn-secondary col-3">
              <label class="file">
                Choose File
                <input #myInput type="file" (change)="uploadImage($event)" hidden />

              </label>
            </button>

            <button mat-raised-button color="primary" type="button" class="btn col-3" (click)="GetText(2)">
              Process Form
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card card-style">
        <div class="card-body">
          <h3 class="card-title">Results</h3>

          <!--
          <textarea disabled class="form-control file-preview-window" rows="25" cols="15">{{ocrResult?.detectedText}}</textarea>-->

          <div class="file-preview-window">
            <div>
              <mat-spinner class="preview-style" *ngIf="loading" value="100"></mat-spinner>
            </div>
            <app-form [claimData]="entityData" [text]="ocrResult" (searchFormEvent)="setValue($event)" *ngIf="clickIndex!= 0"></app-form>
            <!-- <app-form></app-form>-->
          </div>
          <div class="btn-toolbar mt-5 gap-2 d-md-flex">
            <button mat-raised-button type="submit" color="primary" class="btn col-3" (click)="saveData()">Approve</button>
           
            <button mat-raised-button color="warn"class="btn col-3">
              Deny
            </button>
            <button mat-raised-button class="btn btn-secondary col-3" (click)="ClearResults();">
              Clear
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Footer -->
<footer class="text-center fs-10 fst-italic">
  <div class="p-3">
    © 2022 Copyright: National Government Services
  </div>
</footer>
</html>

