<style>
  .navbar.navbar-top {
    background: #1A4195;
    color: #fff;
    border-color: #fff;
  }

  .ocr-component-border {
    border-radius: 1rem;
  }
</style>


<app-nav-menu></app-nav-menu>

<p class="h5 text-center text-wrap text-decoration-underline my-3">
  OCR Request Form Processor
</p>

<!-- Body -->

<div class="side-by-side-container container-lg">
  <div class="row d-flex justify-content-center align-items-center h-100">

    <div class="col-lg-6">
      <div class="card card-style">
        <div class="card-body">
          <h3 class="card-title">Form</h3>
          <div class="file-preview-window justify-content-center align-items-center">
            <!-- <div class="preview-style"><span *ngIf="!imagePreview">No File Choosen</span></div>--><!--<img class="preview-image" src={{imagePreview}}>-->
            <div style="position: relative;">
              <div *ngFor="let drawItem of drawItems; let i = index">


              </div>
              <canvas #layer1 id="layer1" style="position: absolute; left: 0; top: 0; z-index: 0;"></canvas>
              <div class="row">
              </div>
            </div>
            
          </div>
          
          <!-- File Requirement Text -->
          <p class="text-md-start text-wrap fst-italic fs-10 my-0">
            Maximum size allowed for the image is 4MB
          </p>
          <p class="text-md-start text-wrap fst-italic fs-10 my-0">
            Image must be in jpg, jpeg, png format
          </p>

          <div class="btn-toolbar mt-2 gap-2 d-md-flex">


            <label class="file btn btn-secondary btm-sm col-3">
              Choose File
              <input #myInput type="file" (change)="uploadImage($event)" hidden />
            </label>


            <button type="button" class="btn btn-info btm-sm" (click)="GetText(2)">
              Process Form
            </button>
          </div>



        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card card-style">
        <div class="card-body">
          <h3 class="card-title">Results</h3>

          <!--
    <textarea disabled class="form-control file-preview-window" rows="25" cols="15">{{ocrResult?.detectedText}}</textarea>-->
        
        <div class="file-preview-window">
          <div>
            <mat-spinner class="preview-style" *ngIf="loading" value="100"></mat-spinner>
          </div>
          <app-form [claimData]="entityData" *ngIf="clickIndex!= 0"></app-form>
          
          <!-- <app-form></app-form>-->

        </div>
          <div class="btn-toolbar mt-5 gap-2 d-md-flex">

            <button class="btn btn-primary btm-sm col-3">
              Approve
            </button>
            <button class="btn btn-danger btm-sm col-3">
              Deny
            </button>
            <button class="btn btn-secondary btm-sm col-3" (click)="ClearResults();">
              Clear
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Page Footer -->
<footer class="text-center fs-10 fst-italic">
  <div class="p-3">
    © 2022 Copyright: National Government Services
  </div>
</footer>


