html,
.name {
  color: #fff;
}
.v28_14 {
  width: 273px;
  color: rgba(113,113,113,1);
  position: absolute;
  top: 981px;
  left: 583px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
