<header>
  <!--Navigation bar -->
  <nav class="navbar navbar-top navbar-light navbar-expand-lg">
    <div class="container-fluid">
      <div class="navbar-brand nav-logo"></div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="link-light active text-decoration-none" aria-current="page" href="#">Home</a> |
          </li>
          <li class="nav-item">
            <a class="link-light text-decoration-none" href="#">&nbsp;Form Extraction</a> |
          </li>
        </ul>
      </div>
      <!--<form id="navBarSearchForm" class="d-flex">
    <input class="form-control me-2 input-xxlarge" type="search" placeholder="Search by Medicare Id" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>-->
    </div>
  </nav>
</header>
