.nav-logo {
  width: 200px;
  height: 54px;
  left: 30px;
  top: 30px;
  background-image: url(/assets/images/NGSW.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.navbar.navbar-top {
  background: #1A4195;
  color: #fff;
  border-color: #fff;
}

.ocr-component-border {
  border-radius: 1rem;
}
