.mat-toolbar-row, .mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 150%;
  margin-top:40px;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;

}
.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 280px;
}
.page{
    max-width:400px;
    margin:auto;
   // left:500px;
   margin-left:150px;
  
}

.lname{
    position:absolute;
    right:350px;
    top:110px;
}
.dob {
  position: absolute;
  right: 350px;
  top: 180px;
}
.phnb {
  position: absolute;
  right: 350px;
  top: 260px;
}
mat-label {
  font-size: 20px;

}
.heading {
  position:relative;
  left: 120px;
  
}
.mat-toolbar.mat-primary {
  background: #0f62fe;
  color: #fff;
}
.active, .accordion:hover {
  background-color: #ccc;
}
html, body {
  margin: 15px;
  width: 160px;
}

input[name="editable-select"]:disabled {
  background-color: #ffffff;
}

.dropdown-menu:hover {
  cursor: pointer;
}





.textarea{
    width:100%;
    height:350px;
}
.mat-input-invalid .mat-input-placeholder {
  color: red;
}

.mat-input-invalid .mat-input-ripple {
  background-color: red;
}
.mat-option-text {
  overflow: auto;
  text-overflow: unset;
}
.align-arrow-right {
  position: absolute;
  right: 0; //change as per requirement
  top: 0; //change as per requirement
}
