<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
</head>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title >
        <h2 class="mdc-typography--title1">PII Entities </h2>
      </mat-panel-title>
      <mat-panel-description>
       <h6 class="mdc-typography--subtitle2"> Content containing personally identifiable information.</h6>
      </mat-panel-description>
    </mat-expansion-panel-header>

 <div class="row">
   <div class="col-md-6" id="accordion-a">
     <div class="mb-1 mt-1 mdc-typography--body1" id="p">
       <label for="persontype" class="form-label ">Person Type:</label>
       <input type="persontype"  disabled="disabled" class="form-control" id="persontype" placeholder="Patient"> 
       <p>Confidence score:</p>
     </div>
     <div class="mb-1 mt-1  mdc-typography--body1" id="p">
       <label for="person" class="form-label mdc-typography--body1">Person:</label>
       <input type="person"  disabled="disabled" class="form-control" id="person" placeholder="LOZANO">
       <p>Confidence score:</p>
     </div>
     <div class="mb-1 mt-1  mdc-typography--body1" id="p">
       <label for="person" class="form-label">Person:</label>
       <input type="person"  disabled="disabled" class="form-control" id="person" placeholder="ELIZABETH">
       <p>Confidence score:</p>
     </div>
     <div class="mb-1 mt-1  mdc-typography--body1" id="p">
       <label for="persontype" class="form-label">Person Type:</label>
       <input type="persontype"   disabled="disabled" class="form-control" id="persontype" placeholder="Contractor">
       <p>Confidence score:</p>
     </div>
     <div class="mb-1 mt-1  mdc-typography--body1" id="p">
       <label for="address"  class="form-label">Address:</label>
       <input type="address" disabled="disabled" class="form-control" id="address" placeholder="200 EBrawaed St Harvard Outpatient">
       <p>Confidence score:</p>
     </div>
     <div class="mb-1 mt-1   mdc-typography--body1" id="p">
       <label for="email" class="form-label">Email:</label>
       <input type="email"  disabled="disabled" class="form-control" id="email" placeholder="MRAZ@spine.com">
       <p>Confidence score:</p>
     </div>
   </div>
   <div class="col-md-6" id="accordion-a">
     <div class="mb-1 mt-1  mdc-typography--body1" id="p">
       <label for="organization"  class="form-label">Organization:</label>
       <input type="organization"  disabled="disabled"class="form-control" id="organization" placeholder="CMS">
       <p>Confidence score:</p>
     </div>
     <div class="mb-1 mt-1  mdc-typography--body1" id="p">
       <label for="phone" class="form-label">Phone Number:</label>
       <input type="phone"  disabled="disabled"class="form-control" id="phone" placeholder="317-841-4530">
       <p>Confidence score:</p>
     </div>
     <div class="mb-1 mt-1  mdc-typography--body1"id="p" >
       <label for="nznumber"  class="form-label">NZSocialWelfareNumber:</label>
       <input type="nznumber"  disabled="disabled" class="form-control" id="nznumber" placeholder="84245375">
       <p>Confidence score:</p>
     </div>
     <div class="mb-1 mt-1  mdc-typography--body1"id= "p">
       <label for="address"  class="form-label">Address:</label>
       <input type="address" disabled="disabled" class="form-control" id="address" placeholder="Ste 102 Schaumburg">
       <p>Confidence score:</p>
     </div>
     <div class="mb-1 mt-1  mdc-typography--body1" id="p">
       <label for="phone" class="form-label">Phone Number:</label>
       <input type="phone" disabled="disabled" class="form-control" id="phone" placeholder="847-519-9760">
       <p>Confidence score:</p>
     </div>
     <div class="mb-1 mt-1  mdc-typography--body1" id="p">
       <label for="person"  class="form-label">Person:</label>
       <input type="person" disabled="disabled" class="form-control" id="person" placeholder="Mary Beth">
       <p>Confidence score:</p>
     </div>
   </div>
   </div>
   
    
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle> 
    <mat-expansion-panel-header>
      <mat-panel-title>
         <h2 class="mdc-typography--title1">Health Entities</h2>
      </mat-panel-title>
      <mat-panel-description >
        <h6 class="mdc-typography--subtitle2">Content containing health/medical references.</h6>
</mat-panel-description>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-1 mt-1 mdc-typography--body1 "id= "p" >
          <label for="treatmentname" class="form-label">Treatment Name:</label>
          <input type="treatmentname"  disabled="disabled" class="form-control" id="treatmentname" placeholder="Cervical Fusion">
          <p>Confidence score:</p>
        </div>
        <div class="mb-1 mt-1 mdc-typography--body1" id="p">
          <label for="treatmentname" class="form-label">Treatment Name:</label>
          <input type="treatmentname"   disabled="disabled"class="form-control" id="treatmentname" placeholder="Disc Removal">
          <p>Confidence score:</p>
        </div>
        <div class="mb-1 mt-1 mdc-typography--body1" id="p"> 
          <label for="datetime" class="form-label">Date:</label>
          <input type="datetime"  disabled="disabled" class="form-control" id="datetime" placeholder="Date">
          <p>Confidence score:</p>
        </div>
        <div class="mb-1 mt-1 mdc-typography--body1" id="p">
          <label for="gender" class="form-label">Gender:</label>
          <input type="gender" disabled="disabled" class="form-control" id="gender" placeholder="Female">
          <p>Confidence score:</p>
        </div>
          <div class="mb-1 mt-1 mdc-typography--body1 " id="p">
            <label for="treatmentname" class="form-label">Treatment Name:</label>
            <input type="treatmentname"  disabled="disabled"  class="form-control" id="treatmentname" placeholder="Surgery">
            <p>Confidence score:</p>
          </div>
          <div class="mb-1 mt-1 mdc-typography--body1" id="p">
            <label for="adminevent" class="form-label">Admin Event:</label>
            <input type="adminevent"  disabled="disabled"  class="form-control" id="adminevent" placeholder="PTAN">
            <p>Confidence score:</p>
          </div>
        
      </div>
      <div class="col-md-6">
        <div class="mb-1 mt-1 mdc-typography--body1" id="p">
          <label for="date" class="form-label">Date:</label>
          <input type="date"  disabled="disabled"  class="form-control" id="date" placeholder="May 24, 1972">
          <p>Confidence score:</p>
        </div>
        <div class="mb-1 mt-1 mdc-typography--body1" id="p"> 
          <label for="ptam" class="form-label">PTAM:</label>
          <input type="ptam"  disabled="disabled"  class="form-control" id="treatmentname" placeholder="ptam">
          <p>Confidence score:</p>
        </div>
        <div class="mb-1 mt-1 mdc-typography--body1" id="p">
          <label for="careenvironment" class="form-label">Care Environment:</label>
          <input type="careenvironment"  disabled="disabled"  class="form-control" id="careenvironment" placeholder="Outpatient Department">
          <p>Confidence score:</p>
        </div>
        <div class="mb-1 mt-1 mdc-typography--body1" id="p">
          <label for="healthcareprofession" class="form-label">Healthcare Profession:</label>
          <input type="healthcareprofession"  disabled="disabled"  class="form-control" id="healthcareprofession" placeholder="Physician">
          <p>Confidence score:</p>
        </div>
        <div class="mb-1 mt-1 mdc-typography--body1" id="p">
          <label for="date" class="form-label">date:</label>
          <input type="date" class="form-control" id="date" placeholder="2-15-2022">
          <p>Confidence score:</p>
        </div>
        <div class="mb-1 mt-1 mdc-typography--body1" id="p">
          <label for="treatmentname" class="form-label">Treatment Name::</label>
          <input type="treatmentname" class="form-control" id="treatmentname" placeholder="DNIS">
          <p>Confidence score:</p>
        </div>

      </div>
    </div>


  </mat-expansion-panel>

