<!--<div class="text-center">-->

  

  <div class="row">
    <div class="col-md-6">

      <div class="mb-3 mt-3">
        <label for="firstname" class="form-label">First Name:</label>
        <input type="firstname" class="form-control" id="firstname" placeholder="First Name" value={{claimData.firstname}}>
      </div>
      <div class="mb-3 mt-3">
        <label for="lastname" class="form-label">Last Name:</label>
        <input type="lastname" class="form-control" id="lastname" placeholder="Last Name" value={{claimData.lastname}}>
      </div>
      <div class="mb-3 mt-3">
        <label for="dob" class="form-label">Date Of Birth:</label>
        <input type="dob" class="form-control" id="dob" placeholder="Date Of Birth" value={{claimData.dateofbirth}}>
      </div>
      <div class="mb-3 mt-3">
        <label for="address" class="form-label">Address:</label>
        <input type="address" class="form-control" id="address" placeholder="Address" value={{claimData.address}}>
      </div>
      
      <div class="mb-3 mt-3">
        <mat-radio-group class="margin-left">
          <label for="gender" class="form-label">Gender:</label>
          <mat-radio-button value="male" [checked]="claimData.gender==='male'"> Male </mat-radio-button>
          <mat-radio-button value="female" [checked]="claimData.gender==='female'"> Female </mat-radio-button>
        </mat-radio-group>
      </div>

    </div>
    <div class="col-md-6">
      <div class="mb-3 mt-3">
        <label for="phonenumber" class="form-label">Phone Number:</label>
        <input type="phonenumber" class="form-control" id="phonenumber" placeholder="First Name" value={{claimData.phonenumber}}>
      </div>

      <div class="mb-3 mt-3">
        <label for="medicareID" class="form-label">MedicareID:</label>
        <input type="medicareID" class="form-control" id="medicareID" placeholder="MedicareID" value={{claimData.medicareID}}>
      </div>
      <div class="mb-3 mt-3">
        <label for="ptan" class="form-label">PTAN:</label>
        <input type="ptan" class="form-control" id="ptan" placeholder="PTAN" value={{claimData.ptan}}>
      </div>
      <div class="mb-3 mt-3">
        <label for="npi" class="form-label">NPI:</label>
        <input type="npi" class="form-control" id="npi" placeholder="NPI" value={{claimData.npi}}>
      </div>
      <div class="mb-3 mt-3">
        <label for="hospitalname" class="form-label">Hospital/Facility Name:</label>
        <input type="hospitalname" class="form-control" id="hospitalname" placeholder="Hospital/Facility Name:" value={{claimData.hospitalname}}>
      </div>

    </div>
    </div>
